@{
    ViewData["Title"] = "Home Page";
}

<div class="sitecontent">
    <h1>Welcome to Web Dating</h1>
    <div class="grid-container">
        <div class="grid-item">
        Lorem Ipsum er ganske enkelt fyldtekst fra print- og typografiindustrien. 
        Lorem Ipsum har været standard fyldtekst siden 1500-tallet, hvor en ukendt 
        trykker sammensatte en tilfældig spalte for at trykke en bog til sammenligning af forskellige skrifttyper.</div>
        <div class="grid-item">Lorem Ipsum har ikke alene overlevet fem århundreder, men har også vundet indpas i elektronisk typografi uden væsentlige ændringer. Sætningen blev gjordt kendt i 1960'erne med lanceringen af Letraset-ark, som indeholdt afsnit med Lorem Ipsum, og senere med layoutprogrammer som Aldus PageMaker, som også indeholdt en udgave af Lorem Ipsum.</div>
    </div>
 
        <img src="" alt="" />
    </div>
